body {
    background-image: url("../bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #cccccc;
}

/* EXIF.BLADE.PHP */
.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    color: #cccccc;
}

.flexcontainer label {
    margin-right: 10px;
}

.flexcontainer input[name="userfile"] {
    width: 200px;
    size: 200px 34px;
}

.flexcontainer input[name="processbtn"] {
    padding: 5px 5px;
}

/* DIRECTORY.BLADE.PHP */
.directory {
    color: #eceeef;
    background-color: #373a3c;
}

.rss-links {
    color: #eceeef;
    background-color: #373a3c;
}

p .rss-links {
    padding-top: 100px;
}

.table-fixed tbody {
    overflow-y: auto;
    width: 100%;
}

.panel {
    color: #eceeef;
    background-color: #373a3c;
}

.panel-default .panel-heading {
    color: #eceeef;
    background-color: #373a3c;
}

.panel-heading {
    color: #eceeef;
    background-color: #373a3c;
}

.dropdown-menu {
    color: #eceeef;
    background-color: #373a3c;
}

a .dropdown-logout {
    color: #eceeef;
}
